@import '../variables.scss';

.content {
  @include flex($align: center, $justify: center, $direction: column);
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  gap: 20px;
}

@media (max-width: 800px) {
  .content {
    max-width: 400px;
  }
}