:root {
  --white: #ffffff;
  --black: #000000;
  --gray-200: #767676;
  --gray-500: #171717;
  --orange: rgb(220, 150, 22);
  --error: rgb(196, 41, 41);
}

html, body {
  margin: 0;
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background: var(--black);
  color: var(--white);
}

img,
picture {
  display: block;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

button {
  margin: 0;
  cursor: pointer;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

input,
textarea,
select {
  font: inherit;
  color: inherit;
  background: transparent;
  border: none;
  outline: none;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.root-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: url('assets/images/background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main {
  flex: 1;
  display: flex;
}

.footer {
  text-align: center;
  padding: 16px;
}