@mixin flex (
  $align: center,
  $justify: center,
  $direction: row,
  $gap: null,
  $wrap: nowrap,
) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
  flex-wrap: $wrap;

  @if $gap != null {
    gap: $gap;
  }
}

%label-18-16 {
  font-size: 18px;
  line-height: 16px;
}