.button {
  margin: 0 auto;
  max-width: 200px;
  width: 100%;
  padding: 16px 24px;
  font-weight: 600;
  font-size: 16px;
  line-height: 12px;
  border-radius: 6px;
  border: 1px solid var(--orange);
  background: var(--orange);
  color: var(--black);
  transition: background 0.1s ease, box-shadow 0.1s ease;
  margin-bottom: 10px;
}