@import '../../variables.scss';

.label {
  @extend %label-18-16;
  margin-bottom: 12px;
}

.input {
  font-size: 18px;
  line-height: 12px;
  border: 1px solid var(--gray-200);
  border-radius: 6px;
  padding: 12px;
  margin-bottom: 10px;

  &::placeholder {
    font-size: 18px;
    line-height: 12px;
  }
}
